/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
/* line 6, ../sass/print.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/print.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* line 18, ../sass/print.scss */
#wrapper {
  background: #fff;
  overflow: hidden;
}
/* line 26, ../sass/print.scss */
#wrapper #header-mobile .navbar {
  background: #000 url(../img/bg-border.png) repeat-x bottom;
  border: none;
  padding: 10px 0;
}
/* line 30, ../sass/print.scss */
#wrapper #header-mobile .navbar .bg-search {
  width: 100%;
  background: #fff;
  padding: 20px 0;
}
/* line 36, ../sass/print.scss */
#wrapper #header-mobile .navbar-header {
  width: 100%;
}
/* line 41, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .menus {
  position: relative;
  z-index: 2;
}
/* line 45, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .logo {
  margin-top: 10px;
  margin-left: 10px;
  width: 50%;
}
/* line 50, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .centerMobile {
  position: relative;
}
/* line 52, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .centerMobile a {
  display: block;
}
/* line 55, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .centerMobile .shop-act-list {
  position: absolute;
  right: -20px;
  top: 12px;
  margin-top: 0;
}
/* line 63, ../sass/print.scss */
#wrapper #header-mobile .navbar-toggler {
  padding: 13px 0;
  outline: none;
}
/* line 66, ../sass/print.scss */
#wrapper #header-mobile .navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
  margin-bottom: 5px;
}
/* line 77, ../sass/print.scss */
#wrapper #header-mobile #navbar ul li {
  padding: 10px 0;
}
/* line 79, ../sass/print.scss */
#wrapper #header-mobile #navbar ul li a {
  color: #fff;
}
/* line 85, ../sass/print.scss */
#wrapper #header-mobile .form-inline {
  position: relative;
  margin-top: 7px;
}
/* line 88, ../sass/print.scss */
#wrapper #header-mobile .form-inline input {
  background: transparent;
  width: 100% !IMPORTANT;
  margin-left: 0 !important;
}
/* line 93, ../sass/print.scss */
#wrapper #header-mobile .form-inline .fa-search {
  top: 30%;
  position: absolute;
  right: 10px;
  color: #fff;
}
/* line 100, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list {
  margin-top: 15px;
  display: inline-block;
}
/* line 103, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 106, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul .search {
  margin-top: 3px;
}
/* line 109, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 15px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  /* line 109, ../sass/print.scss */
  #wrapper #header-mobile .shop-act-list ul li {
    margin-right: 10px;
  }
}
/* line 118, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li:last-child {
  margin-right: 0;
}
/* line 121, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .fa-search {
  top: 5px;
  position: absolute;
  right: 10px;
  color: #fff;
}
/* line 127, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .count {
  position: absolute;
  background: #ffc53e;
  color: #333;
  font-size: 8px;
  top: -5px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}
/* line 139, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .cart {
  position: relative;
}
/* line 142, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .notif {
  position: relative;
}
/* line 148, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile {
  margin-top: 50px;
}
/* line 151, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile .img img {
  width: 100%;
  object-fit: cover;
}
/* line 159, ../sass/print.scss */
#wrapper #top {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #eee;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 163, ../sass/print.scss */
  #wrapper #top .top-cols {
    font-size: 12px;
  }
}
/* line 168, ../sass/print.scss */
#wrapper #top .top-cols .left .cols {
  margin-left: 20px;
}
/* line 170, ../sass/print.scss */
#wrapper #top .top-cols .left .cols a {
  padding-left: 20px;
  color: #666;
}
/* line 175, ../sass/print.scss */
#wrapper #top .top-cols .left .tlp {
  background: url(../img/ico-tlp.png) no-repeat left;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 175, ../sass/print.scss */
  #wrapper #top .top-cols .left .tlp {
    margin-left: 8px;
  }
}
/* line 180, ../sass/print.scss */
#wrapper #top .top-cols .left .tlp a {
  color: #33168c;
}
/* line 184, ../sass/print.scss */
#wrapper #top .top-cols .left .email {
  background: url(../img/ico-mail.png) no-repeat left;
  margin-left: 0;
}
/* line 189, ../sass/print.scss */
#wrapper #top .top-cols .right {
  text-align: right;
}
/* line 191, ../sass/print.scss */
#wrapper #top .top-cols .right .cols {
  position: relative;
  margin-right: 15px;
}
/* line 194, ../sass/print.scss */
#wrapper #top .top-cols .right .cols:last-child {
  margin-right: 0px;
}
/* line 198, ../sass/print.scss */
#wrapper #top .top-cols .right .maps {
  background: url(../img/ico-location.png) no-repeat left;
}
/* line 200, ../sass/print.scss */
#wrapper #top .top-cols .right .maps a {
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  /* line 204, ../sass/print.scss */
  #wrapper #top .top-cols .right .user-act-list {
    display: none;
  }
}
/* line 208, ../sass/print.scss */
#wrapper #top .top-cols .right .user-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 211, ../sass/print.scss */
#wrapper #top .top-cols .right .user-act-list ul .shop {
  color: #303030;
}
/* line 213, ../sass/print.scss */
#wrapper #top .top-cols .right .user-act-list ul .shop a {
  display: block;
}
/* line 217, ../sass/print.scss */
#wrapper #top .top-cols .right .user-act-list ul li {
  list-style: none;
  display: inline-block;
  margin-left: 7px;
  font-size: 13px;
}
/* line 224, ../sass/print.scss */
#wrapper #top .top-cols .right .user-act-list ul .sign a {
  color: #303030;
}
/* line 227, ../sass/print.scss */
#wrapper #top .top-cols .right .user-act-list ul .sign .formpop {
  position: absolute;
  background: #fff;
  left: -200px;
  z-index: 9;
  width: 350px;
  padding: 20px;
  border-color: #ececec;
}
/* line 235, ../sass/print.scss */
#wrapper #top .top-cols .right .user-act-list ul .sign .formpop .flexo {
  padding: 0 20px;
}
/* line 237, ../sass/print.scss */
#wrapper #top .top-cols .right .user-act-list ul .sign .formpop .flexo .right {
  font-size: 12px;
}
/* line 241, ../sass/print.scss */
#wrapper #top .top-cols .right .user-act-list ul .sign .formpop .input-group-btn {
  position: absolute;
  right: 0;
}
/* line 244, ../sass/print.scss */
#wrapper #top .top-cols .right .user-act-list ul .sign .formpop .input-group-btn button {
  border: none;
  background: none;
  color: #333;
}
/* line 250, ../sass/print.scss */
#wrapper #top .top-cols .right .user-act-list ul .sign .formpop .login-btn {
  background: #c81423;
  color: #fff;
  width: 100%;
  border-radius: 25px;
}
/* line 256, ../sass/print.scss */
#wrapper #top .top-cols .right .user-act-list ul .sign .formpop input {
  border-radius: 25px;
}
/* line 264, ../sass/print.scss */
#wrapper #top .top-cols .cols {
  display: inline-block;
  font-size: 12px;
}
/* line 267, ../sass/print.scss */
#wrapper #top .top-cols .cols a {
  color: #666;
}
/* line 270, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle {
  background: transparent;
  border: none;
  padding: 0;
}
/* line 274, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle img {
  float: left;
  margin-top: 5px;
}
/* line 278, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle .txt {
  float: left;
  line-height: 8px;
  margin: 7px 5px;
  font-size: 12px;
  color: #33168c;
}
/* line 285, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle .caret {
  color: #666;
  float: left;
  margin-top: 2px;
}
/* line 291, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-menu {
  min-width: 70px;
}
/* line 298, ../sass/print.scss */
#wrapper #header {
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
/* line 303, ../sass/print.scss */
#wrapper #header .logo img {
  width: 100%;
}
/* line 309, ../sass/print.scss */
#wrapper #header .menu-wrapper {
  text-align: left;
}
/* line 311, ../sass/print.scss */
#wrapper #header .menu-wrapper .menus {
  padding-top: 10px;
}
/* line 313, ../sass/print.scss */
#wrapper #header .menu-wrapper .menus ul {
  padding: 0;
  margin: 0;
}
/* line 316, ../sass/print.scss */
#wrapper #header .menu-wrapper .menus ul li {
  list-style: none;
  float: left;
  font-weight: 600;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 14px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 316, ../sass/print.scss */
  #wrapper #header .menu-wrapper .menus ul li {
    font-size: 10px;
    margin-right: 3px;
  }
}
/* line 327, ../sass/print.scss */
#wrapper #header .menu-wrapper .menus ul li:last-child {
  margin-right: 0;
}
/* line 330, ../sass/print.scss */
#wrapper #header .menu-wrapper .menus ul li a {
  color: #0d0d0d;
  text-decoration: none;
}
/* line 339, ../sass/print.scss */
#wrapper #header .search-top .form-inline {
  position: relative;
  background: #fff;
  border: 1px solid #cccccc;
}
/* line 343, ../sass/print.scss */
#wrapper #header .search-top .form-inline input {
  border: none;
  font-size: 12px;
  outline: none;
  padding-left: 20px;
}
/* line 349, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select {
  width: 140px;
}
@media screen and (max-width: 768px) {
  /* line 349, ../sass/print.scss */
  #wrapper #header .search-top .form-inline .bootstrap-select {
    width: 70px;
  }
}
/* line 354, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select .filter-option-inner-inner {
  font-size: 12px;
  line-height: 20px;
}
/* line 358, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select .selectpicker {
  background: none;
}
/* line 361, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select .dropdown-toggle {
  background: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  padding: 0 10px;
  color: #666;
}
/* line 371, ../sass/print.scss */
#wrapper #header .search-top .form-inline .search-btn {
  position: absolute;
  background: #f7931e;
  right: 0px;
  top: 0px;
  width: 55px;
  height: 38px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
/* line 386, ../sass/print.scss */
#wrapper #header .top-right {
  padding-top: 5px;
}
/* line 388, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list {
  text-align: right;
}
@media screen and (min-width: 568px) and (max-width: 1024px) {
  /* line 388, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list {
    max-width: 100% !IMPORTANT;
    width: 100%;
    flex: none;
  }
}
/* line 395, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 398, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 8px;
  cursor: pointer;
}
/* line 404, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 407, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list ul li:nth-child(2) {
    display: none;
  }
}
/* line 412, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .count {
  position: absolute;
  background: #d90000;
  color: #fff;
  font-size: 8px;
  top: -5px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}
/* line 424, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart {
  position: relative;
}
/* line 426, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart:after {
  display: none;
}
/* line 429, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 {
  display: none;
  width: 275px;
  position: absolute;
  left: -200px;
  top: 40px;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 1px 1px 3px #b0b0b070;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 429, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 {
    left: -200px;
  }
}
/* line 442, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li {
  float: none;
  margin: 0;
  position: relative;
  padding: 8px 30px;
  margin: 10px 20px;
  border-bottom: 1px solid #b0b0b070;
}
/* line 449, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(1) {
  background: url(../img/top-cart.png) no-repeat left;
}
/* line 452, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(2) {
  background: url(../img/top-chat.png) no-repeat left;
}
/* line 455, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(3) {
  background: url(../img/top-user.png) no-repeat left;
  border: none;
}
/* line 459, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li a {
  color: #999;
}
/* line 462, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li span {
  position: absolute;
  right: 10px;
  font-weight: bold;
}
/* line 470, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product {
  padding: 10px;
  font-size: 12px;
  text-align: left;
}
/* line 474, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 477, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .title {
  color: #666;
}
/* line 480, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .price {
  color: #333;
}
/* line 485, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .txt {
  text-align: left;
  padding: 20px 10px;
  color: #999;
}
/* line 490, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .subtotal {
  padding: 20px 10px;
  color: #999;
}
/* line 493, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .subtotal .total {
  font-weight: bold;
  color: #333;
}
/* line 499, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
/* line 503, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product img {
  width: 100%;
}
/* line 506, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 509, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .title {
  color: #666;
}
/* line 512, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .price {
  color: #333;
}
/* line 519, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif {
  position: relative;
}
/* line 521, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif:after {
  display: none;
}
/* line 524, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux {
  display: none;
  width: 275px;
  position: absolute;
  left: -200px;
  top: 40px;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 1px 1px 3px #b0b0b070;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 524, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux {
    left: -200px;
  }
}
/* line 537, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li {
  float: none;
  text-align: left;
  margin: 0;
  position: relative;
  padding: 8px 30px;
  margin: 10px 20px;
  border-bottom: 1px solid #b0b0b070;
}
/* line 545, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(1) {
  background: url(../img/top-cart.png) no-repeat left;
}
/* line 548, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(2) {
  background: url(../img/top-chat.png) no-repeat left;
}
/* line 551, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(3) {
  background: url(../img/top-user.png) no-repeat left;
  border: none;
}
/* line 555, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li a {
  color: #999;
}
/* line 558, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li span {
  position: absolute;
  right: 10px;
  font-weight: bold;
}
/* line 566, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product {
  padding: 10px;
  font-size: 12px;
}
/* line 569, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 572, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .title {
  color: #666;
}
/* line 575, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .price {
  color: #333;
}
/* line 580, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .txt {
  padding: 20px 10px;
  color: #999;
}
/* line 584, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .subtotal {
  padding: 20px 10px;
  color: #999;
}
/* line 587, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .subtotal .total {
  font-weight: bold;
  color: #333;
}
/* line 593, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
/* line 597, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product img {
  width: 100%;
}
/* line 600, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 603, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .title {
  color: #666;
}
/* line 606, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .price {
  color: #333;
}
/* line 622, ../sass/print.scss */
#wrapper #menus-wrapper .bg-kategori {
  padding-right: 0;
}
/* line 624, ../sass/print.scss */
#wrapper #menus-wrapper .bg-kategori h5 {
  background: #c81423 url(../img/burger-menu.png) no-repeat 8%;
  color: #fff;
  height: 45px;
  padding: 15px 50px;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  /* line 624, ../sass/print.scss */
  #wrapper #menus-wrapper .bg-kategori h5 {
    padding: 15px 0px 15px 50px;
  }
}
/* line 636, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul {
  padding: 20px 0 0;
  margin: 0;
}
/* line 639, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}
/* line 645, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li a {
  color: #333;
  text-decoration: none;
}
/* line 648, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li a:hover {
  color: #c81423;
}
/* line 652, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li .active {
  color: #c81423;
}
/* line 661, ../sass/print.scss */
#wrapper .banner-wrapper .list-cat-wrapper {
  padding-right: 0;
}
/* line 663, ../sass/print.scss */
#wrapper .banner-wrapper .list-cat-wrapper .list-category {
  background: #fff;
  height: 342px;
  padding: 20px 0;
}
/* line 667, ../sass/print.scss */
#wrapper .banner-wrapper .list-cat-wrapper .list-category ul {
  padding: 0;
  margin: 0;
}
/* line 670, ../sass/print.scss */
#wrapper .banner-wrapper .list-cat-wrapper .list-category ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  /* line 670, ../sass/print.scss */
  #wrapper .banner-wrapper .list-cat-wrapper .list-category ul li {
    font-size: 12px;
  }
}
/* line 677, ../sass/print.scss */
#wrapper .banner-wrapper .list-cat-wrapper .list-category ul li a {
  padding: 5px 20px;
  display: block;
  color: #757575;
  text-decoration: none;
}
/* line 682, ../sass/print.scss */
#wrapper .banner-wrapper .list-cat-wrapper .list-category ul li a:hover {
  background: #f5f5f5;
  color: #199cb7;
}
/* line 691, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col {
  padding-right: 0;
  padding-left: 0;
}
/* line 695, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner .slidebanner {
  outline: none;
}
/* line 697, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner .slidebanner img {
  width: 100%;
}
/* line 700, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner .slidebanner .slick-prev {
  outline: none;
  position: absolute;
  z-index: 9;
  background: url(../img/banner-prev.png) no-repeat left;
  width: 35px;
  height: 60px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
  left: -2px;
}
/* line 713, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner .slidebanner .slick-next {
  outline: none;
  position: absolute;
  right: -2px;
  background: url(../img/banner-next.png) no-repeat left;
  width: 35px;
  height: 60px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
}
/* line 725, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner .slidebanner .slick-dots {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
@media screen and (max-width: 480px) {
  /* line 725, ../sass/print.scss */
  #wrapper .banner-wrapper .banner-col .banner .slidebanner .slick-dots {
    margin: 20px 0;
    position: inherit;
  }
}
/* line 735, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner .slidebanner .slick-dots li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
/* line 740, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner .slidebanner .slick-dots li button {
  outline: none;
  text-indent: -9999px;
  border: none;
  background: #ddd;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
/* line 751, ../sass/print.scss */
#wrapper .banner-wrapper .banner-col .banner .slidebanner .slick-dots .slick-active button {
  background: #e3211d;
}
/* line 761, ../sass/print.scss */
#wrapper .banner-wrapper .small-banner {
  padding-left: 0;
}
/* line 764, ../sass/print.scss */
#wrapper .banner-wrapper .small-banner .block:first-child {
  margin-bottom: 6px;
}
/* line 767, ../sass/print.scss */
#wrapper .banner-wrapper .small-banner .block img {
  height: 100%;
}
/* line 774, ../sass/print.scss */
#wrapper #content-wrapper {
  padding-top: 50px;
}
/* line 776, ../sass/print.scss */
#wrapper #content-wrapper .columns {
  background: #fff;
}
@media screen and (max-width: 568px) {
  /* line 776, ../sass/print.scss */
  #wrapper #content-wrapper .columns {
    box-shadow: none;
    padding: 0;
  }
}
/* line 783, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top {
  margin-bottom: 20px;
}
@media screen and (max-width: 568px) {
  /* line 783, ../sass/print.scss */
  #wrapper #content-wrapper .menu-after-top {
    margin-bottom: 0;
    padding: 20px;
  }
}
/* line 789, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top h3 {
  font-weight: bold;
  color: #333;
}
@media screen and (max-width: 568px) {
  /* line 789, ../sass/print.scss */
  #wrapper #content-wrapper .menu-after-top h3 {
    font-size: 18px;
  }
}
/* line 796, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top .more {
  margin: 5px 20px;
}
@media screen and (max-width: 568px) {
  /* line 796, ../sass/print.scss */
  #wrapper #content-wrapper .menu-after-top .more {
    margin: 0px 20px;
    float: right !important;
  }
}
/* line 802, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top .more a {
  color: #33168c;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
}
/* line 810, ../sass/print.scss */
#wrapper #content-wrapper .banner-after-menu {
  margin-bottom: 20px;
}
/* line 815, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .highlight {
  background: url(../img/bg-product-active.jpg) no-repeat !important;
}
/* line 817, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .highlight a {
  color: #fff !Important;
}
/* line 822, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-prev {
  outline: none;
  position: absolute;
  z-index: 9;
  background: url(../img/banner-prev.png) no-repeat left;
  width: 35px;
  height: 66px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
  left: -20px;
}
@media screen and (max-width: 568px) {
  /* line 822, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-prev {
    left: 0;
  }
}
/* line 838, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-next {
  outline: none;
  position: absolute;
  right: -20px;
  background: url(../img/banner-next.png) no-repeat left;
  width: 35px;
  height: 66px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
}
@media screen and (max-width: 568px) {
  /* line 838, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-next {
    right: 0;
  }
}
/* line 854, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block {
  background: #fff;
  float: left;
  width: 220px;
  height: 335px;
}
@media screen and (max-width: 768px) {
  /* line 854, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block {
    height: auto;
  }
}
/* line 862, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 20px;
  position: relative;
}
/* line 868, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a:hover {
  box-shadow: 2px 0px 30px 5px #ccc;
}
@media screen and (max-width: 768px) {
  /* line 862, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a {
    padding: 20px 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 862, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a {
    padding: 20px;
  }
}
/* line 877, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .img {
  min-height: 170px;
}
@media screen and (max-width: 480px) {
  /* line 877, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .img {
    display: flex;
    align-items: center;
  }
}
/* line 883, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .img img {
  width: 100%;
}
/* line 887, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .title {
  margin-bottom: 10px;
  color: #666;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 887, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .title {
    padding: 0 10px;
  }
}
/* line 894, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .price {
  color: #c81423;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 894, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .price {
    padding: 0 10px;
  }
}
/* line 900, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .percent {
  color: #999;
  font-size: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 900, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .percent {
    padding: 0 10px;
  }
}
/* line 907, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list {
  margin-top: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 907, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .star-list {
    padding: 0 10px;
  }
}
/* line 912, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list ul {
  float: left;
  padding: 0;
  margin: 0;
}
/* line 916, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list ul li {
  list-style: none;
  display: inline-block;
}
/* line 921, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list .review {
  float: left;
  margin-left: 10px;
  margin-top: 2px;
  font-size: 10px;
  color: #999;
}
@media screen and (max-width: 768px) {
  /* line 921, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .star-list .review {
    margin-left: 0;
  }
}
/* line 936, ../sass/print.scss */
#wrapper #content-wrapper #banner-ads {
  padding: 50px 0;
  background: #f5f5f5;
}
/* line 940, ../sass/print.scss */
#wrapper #content-wrapper #banner-ads .banner img {
  object-fit: cover;
  width: 100%;
}
/* line 946, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper {
  margin: 50px 0;
  text-align: center;
}
/* line 949, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .seemore {
  margin: 50px 0;
  text-align: center;
}
/* line 952, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .seemore a {
  display: inline-block;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 40px;
}
/* line 961, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .centerTitle {
  position: relative;
}
/* line 963, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .centerTitle:after {
  background: url(../img/border.png) no-repeat right center;
  content: '';
  position: absolute;
  right: 30%;
  width: 100px;
  height: 35px;
  top: 0;
}
@media screen and (max-width: 568px) {
  /* line 963, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper .centerTitle:after {
    right: 5%;
    top: 13px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 963, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper .centerTitle:after {
    right: 20%;
  }
}
/* line 979, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .centerTitle:before {
  background: url(../img/border.png) no-repeat left center;
  content: '';
  position: absolute;
  left: 30%;
  width: 100px;
  height: 35px;
  top: 0;
}
@media screen and (max-width: 568px) {
  /* line 979, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper .centerTitle:before {
    left: 5%;
    top: 13px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 979, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper .centerTitle:before {
    left: 20%;
  }
}
/* line 996, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper h3 {
  font-weight: bold;
  color: #333;
}
@media screen and (max-width: 480px) {
  /* line 996, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper h3 {
    padding: 20px;
    font-size: 18px;
  }
}
/* line 1005, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category .slick-next {
  outline: none;
  position: absolute;
  right: -20px;
  background: url(../img/banner-next.png) no-repeat left;
  width: 35px;
  height: 66px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
}
/* line 1017, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category .slick-prev {
  outline: none;
  position: absolute;
  z-index: 9;
  background: url(../img/banner-prev.png) no-repeat left;
  width: 35px;
  height: 66px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
  left: -20px;
}
/* line 1030, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul {
  padding: 0;
  margin: 0;
}
/* line 1033, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li {
  text-align: center;
  list-style: none;
  padding: 3px;
  position: relative;
  z-index: 9;
}
/* line 1039, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a {
  display: block;
  color: #282828;
  padding: 0 10px;
  position: relative;
}
/* line 1044, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a .title {
  position: absolute;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  bottom: 0;
  border: 1px solid;
  width: 150px;
  text-transform: uppercase;
  height: 40px;
  line-height: 38px;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
}
@media screen and (max-width: 568px) {
  /* line 1044, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper .list-category ul li a .title {
    width: auto;
    padding: 0 10px;
    font-size: 12px;
    position: inherit;
  }
}
/* line 1066, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a img {
  width: 100%;
}
/* line 1075, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper {
  padding: 50px 0;
}
/* line 1077, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper h3 {
  font-weight: bold;
  color: #333;
}
/* line 1083, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
  width: 16.66666667%;
  height: 282px;
  margin-bottom: 20px;
  border-right: none;
}
@media screen and (min-width: 768px) {
  /* line 1083, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 1083, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
    width: 50%;
    padding: 0;
  }
}
/* line 1095, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a {
  height: 100%;
  position: relative;
  z-index: 9;
  padding: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1095, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a {
    padding: 0;
  }
}
/* line 1103, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img {
  min-height: 140px;
}
@media screen and (max-width: 768px) {
  /* line 1103, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img {
    min-height: 50px;
  }
  /* line 1107, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img img {
    width: 100%;
  }
}
/* line 1111, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img img {
  width: 100%;
}
/* line 1116, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul {
  width: 45%;
}
@media screen and (max-width: 768px) {
  /* line 1116, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul {
    width: 100%;
  }
}
/* line 1121, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul li {
  margin-right: -5px;
}
/* line 1129, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .seemore {
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0;
}
/* line 1133, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .seemore a {
  border: 1px solid #199cb7;
  padding: 10px 20px;
  display: inline-block;
  color: #199cb7;
}
/* line 1144, ../sass/print.scss */
#wrapper #footer-wrapper {
  background: #fff;
  border-bottom: 1px solid #313131;
}
@media screen and (max-width: 480px) {
  /* line 1144, ../sass/print.scss */
  #wrapper #footer-wrapper {
    background: #fff;
  }
}
/* line 1150, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper {
  padding: 50px 0;
  border-top: 1px solid #eee;
}
@media screen and (max-width: 480px) {
  /* line 1153, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block {
    margin-bottom: 20px;
  }
}
/* line 1157, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block:last-child {
  background: none;
}
/* line 1160, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .img {
  text-align: center;
  margin-bottom: 10px;
}
/* line 1163, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .img img {
  height: 61px;
}
/* line 1169, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .title {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}
@media screen and (max-width: 568px) {
  /* line 1169, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block .title {
    line-height: normal;
    font-size: 13px;
  }
}
/* line 1178, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .desc {
  color: #999;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  /* line 1178, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block .desc {
    font-size: 12px;
    line-height: normal;
  }
}
/* line 1188, ../sass/print.scss */
#wrapper #footer-wrapper .footer {
  background: #0d0d0d;
  color: #808080;
  padding: 50px 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1188, ../sass/print.scss */
  #wrapper #footer-wrapper .footer {
    font-size: 12px;
  }
}
/* line 1195, ../sass/print.scss */
#wrapper #footer-wrapper .footer .title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  /* line 1195, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .title {
    width: 50%;
    font-size: 18px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 480px) {
  /* line 1207, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .logo img {
    width: auto;
  }
}
/* line 1214, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address {
  margin-top: 35px;
}
@media screen and (max-width: 480px) {
  /* line 1214, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .list-address {
    margin-top: 20px;
  }
}
/* line 1219, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul {
  padding: 0;
  margin: 0;
}
/* line 1222, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li {
  font-size: 12px;
  list-style: none;
  margin-bottom: 10px;
  padding-left: 25px;
}
/* line 1227, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(1) {
  background: url(../img/footer-maps.png) no-repeat left;
}
/* line 1230, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(2) {
  background: url(../img/footer-phone.png) no-repeat left;
}
/* line 1233, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(3) {
  background: url(../img/footer-mail.png) no-repeat left;
}
/* line 1239, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus {
  margin-top: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1239, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .list-menus {
    margin-top: 0;
  }
}
/* line 1244, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul {
  padding: 0;
  margin: 0;
}
/* line 1247, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul li {
  font-size: 14px;
  list-style: none;
  margin-bottom: 8px;
}
/* line 1251, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul li a {
  color: #808080;
}
/* line 1257, ../sass/print.scss */
#wrapper #footer-wrapper .footer .img-wrap {
  padding-right: 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1260, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .img-wrap .img img {
    width: 100%;
  }
}
/* line 1268, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog {
  border-bottom: 1px solid #333;
  padding: 15px 0;
}
/* line 1271, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog:last-child {
  border: none;
}
/* line 1274, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog a {
  color: #999;
}
/* line 1277, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog .titleblog {
  font-size: 12px;
  line-height: normal;
}
/* line 1281, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog .date {
  font-size: 12px;
}
/* line 1289, ../sass/print.scss */
#wrapper #bottom {
  background: #000;
  text-align: center;
  padding: 30px 0;
  color: #999;
  font-size: 16px;
}
/* line 1295, ../sass/print.scss */
#wrapper #bottom a {
  color: #999;
}
